﻿@page
@model UiClient.Pages.Product.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProductDTO</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDTO.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDTO.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDTO.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDTO.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDTO.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDTO.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDTO.CategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDTO.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDTO.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDTO.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDTO.StatusId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDTO.StatusId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDTO.StatusName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDTO.StatusName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDTO.AvailableQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductDTO.AvailableQuantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductDTO.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
