﻿@page
@model UiClient.Pages.Product.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductDTO[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDTO[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDTO[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDTO[0].CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDTO[0].CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDTO[0].StatusId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDTO[0].StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDTO[0].AvailableQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductDTO) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableQuantity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="/Product/Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
